body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

body .modal-dialog {
    /* new custom width */
    width: 1400px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /* margin-left: -375px; */
}