<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{orgname}} Analytics Dashboard</title>

<!-- DataTables CSS -->
<!--
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css">
-->
<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/css/dataTables.tableTools.css">
<link rel="stylesheet" type="text/css" href="/css/dataTables.fixedColumns.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/docs.min.js"></script>
<link href="/css/theme.css" rel="stylesheet">
  
<!-- nav -->
<style>
body {
  position: relative;
}
</style>

<!-- tooltips -->
<style>
.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
}
.xxtooltip{
	/* position: absolute; */
	display: none;
    width: 100px;
	border: 1px solid #333;
	background: #BDCDFF;
	padding: 5px 20px;
	color: #333;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
</style>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="/js/dataTables.tableTools.js"></script>
<script src="/js/dataTables.fixedColumns.js"></script>

<!-- highchart -->

<script src="/js/highstock.js"></script>
<script src="/js/highcharts-more.js"></script>
<script src="/js/modules/map.js"></script> 
<script src="/js/modules/data.js"></script> 
<script src="/js/mapdata/world.js"></script>

<!-- ----------------------------------------------------------------------------- -->

  <script type='text/javascript'
     src='https://www.google.com/jsapi'></script>

  <script type='text/javascript'>

  $(document).ready( function () {
    $('#table_id').DataTable({
         dom: 'T<"clear">lfrtip',
         "order": [ 0, 'desc' ],
  }
);

    $('#table_id tbody').on('click', 'tr', function () {
        var name = $('td', this).eq(4).text();
        window.location.href = "/course/" + name;
        // alert( 'You clicked on '+name+'\'s row' );
    } );

} );

</script>

</head>


  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{orgname}} Analytics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#geography">Geography</a></li>
            <li><a href="#listings">Course listings</a></li>
            <li><a href="#enrollment">Enrollment</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">{{user}}</p></li>
	    {% if is_staff %}
            <li><a href="/admin">Admin Page</a></li>
	    {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div  class="container theme-showcase" role="main" data-target="#navbar">
    <h1>Cross-Course Dashboard</h1>


{% if is_staff %}

<span style="float:right">
  <div class="dropdown">
    <button id="switch-dataset" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
      Current Dataset Collection: {{collection_name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      {% for cname in collections_available %}
          <li {% if cname==collection_name %} class="active" {% endif %}><a href='#'>{{cname}}</a></li>
      {% endfor %}
    </ul>
  </div>
</span>
<script type="text/javascript">
$(document).on('click', '.dropdown-menu li a', function(){
    selection = $(this).text();
    console.log("Selected Option:"+selection);
    $.getJSON('/get/switch_collection', {'selection': selection}, function(data) {
        console.log(data);
        location.reload();
    });
});
</script>

{% endif %}

{% if mode=="mooc" %}
    <h2 id="geography">Geographic Distribution</h2>

    <a id="btn-geo-show" class="btn btn-lg btn-primary" href="#" role="button">Show Map »</a>

    <div id="geography_map" style="display:none">
      <div id="geomap" style="height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

      <div><p>Totals:</p><table id="geo_totals"></table></div>
      <br/>
      <p></p>

      <div><p>Top countries by registration:</p><table id="geo_top"></table></div>

      <script src="/js/dashboard-geo.js"></script>
    </div>
{% endif %}

<h2 id="listings">Course Listings: Total {{ncourses}}</h2>

{% if mode=="mooc" %}
<h3>Number of courses offered versus time:</h3>
(click and drag to zoom)

<div id="cbytime" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

<script type="text/javascript">

$(document).ready(function() {

    $.getJSON('/dashboard/get/courses_by_time', function(data) {

        // Create the chart
//        $('#cbytime').highcharts('StockChart', {
        $('#cbytime').highcharts({

	    chart: { type: 'spline',  zoomType: 'x' },
            rangeSelector : {
                selected : 5
            },
	    credits: {  enabled: false  },
            title : {
                text : 'Number of courses over time (by registration opening date)',
            },

	    xAxis: {
		type: 'datetime',
		dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
		},
		title: {
                    text: 'Date'
		}
            },

            series : data['series'],
        }, function(chartObj) {
	});
    });

    $('[data-spy="scroll"]').each(function () {
	var $spy = $(this).scrollspy('refresh')
    });
});
</script>
{% endif %}


<h3>Courses which have opened for registration on {{orgname}}:</h3>

{% autoescape off %}{{ table }}{% endautoescape %}


<h2 id="enrollment">Enrollment</h2>

<h3>Enrollment by day: <span id="enrollavg"></span></h3>
(data from student_enrollment table)

<div id="enrollbytime" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

{% if mode=="mooc" %}
<h3>ID Verified  by day: <span id="veravg"></span></h3>
<div id="verifiedbytime" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>
{% endif %}

<script type="text/javascript">

$(document).ready(function() {

    $.getJSON('/dashboard/get/enrollment_by_time', function(data) {

	$('#enrollavg').html('Average of ' + data['enroll_rate_avg'] + ' new reigstrations per day');

        // Create the chart
//        $('#cbytime').highcharts('StockChart', {
        $('#enrollbytime').highcharts({

	    chart: { type: 'spline',  zoomType: 'x' },
            rangeSelector : {
                selected : 5
            },
	    credits: {  enabled: false  },
	    yAxis: {min: 0},
            title : {
                text : 'Enrollment by day',
            },

	    xAxis: {
		type: 'datetime',
		dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
		},
		title: {
                    text: 'Date'
		}
            },

            series : data['series'],
        }, function(chartObj) {
	});

{% if mode=="mooc" %}

	$('#veravg').html('Average of ' + data['verified_rate_avg'] + ' new verified ID registrations per day');

        // Create the chart
        $('#verifiedbytime').highcharts({
	    chart: { type: 'spline',  zoomType: 'x' },
            rangeSelector : { selected : 5 },
	    credits: {  enabled: false  },
	    yAxis: {min: 0},
            title : { text : 'ID Verified Program Registration by day', },

	    xAxis: {
		type: 'datetime',
		dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
		},
		title: {
                    text: 'Date'
		}
            },
            series : data['series_ver'],
        }, function(chartObj) {
	});
{% endif %}

	$('[data-spy="scroll"]').each(function () {
	    var $spy = $(this).scrollspy('refresh')
	});
    });

});
</script>

<h2 id="enrollment">Cross-course comparison statistics</h2>

<div id="cross-course" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

<script type="text/javascript" src="/js/dashboard-cc.js"></script>

</div> <!-- main -->
</body>
</html>
