<html>
<head>
  <title>Course: {{course_id}}</title>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/css/dataTables.tableTools.css">
  
<style>
td.details-control {
    background: url('/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/images/details_close.png') no-repeat center center;
}
</style>

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="/js/dataTables.tableTools.js"></script>


<script type='text/javascript' src='https://www.google.com/jsapi'></script>

<!-- highchart -->


<script src="/js/highstock.js"></script>
<script src="/js/highcharts-more.js"></script>
<script src="/js/modules/map.js"></script> 
<script src="/js/modules/data.js"></script> 
<script src="/js/mapdata/world.js"></script>

<!--
OLD SCRIPTS FOR TESTING

<script src="http://github.highcharts.com/highstock.js"></script>
<script src="http://github.highcharts.com/highcharts-more.js"></script>
<script src="http://github.highcharts.com/modules/map.js"></script>
<script src="http://code.highcharts.com/maps/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
<script src="/js/mapdata/world.js"></script>

<script src="/js/modules/exporting.js"></script>

<script src="http://code.highcharts.com/highstock.js"></script>
<script src="http://code.highcharts.com/modules/map.js"></script>
<script src="http://code.highcharts.com/mapdata/index.js?1"></script>

<script src="http://github.highcharts.com/highstock.src.js"></script>
<script src="http://github.highcharts.com/modules/map.src.js"></script>
<script src="http://code.highcharts.com/mapdata/index.js?1"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script>
<script src="http://www.highcharts.com/samples/maps/demo/all-maps/jquery.combobox.js"></script>
<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>

<script src="/js/highstock.js"></script>
<script src="/js/highmaps.js"></script>
<script src="/js/modules/exporting.js"></script>

<script src="/js/modules/map.js"></script> 
<script src="/js/modules/data.js"></script> 
<script src="/js/mapdata/world.js"></script>

<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>

<script src="http://code.highcharts.com/maps/highmaps.js"></script> 
<script src="http://code.highcharts.com/maps/modules/data.js"></script>
<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>
-->

<!-- table display -->

  <script type='text/javascript'>

    $(document).ready( function () {
    });

// Formatting function for row details 
function format ( d ) {
    // `d` is the original data object for the row
    var stats = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<th># sequential</th>'+
            '<th># problem</th>'+
            '<th># html</th>'+
            '<th># video</th>'+
            '<th>module_id</th>'+
        '</tr>'+
        '<tr>'+
            '<td>'+d.n_sequential+'</td>'+
            '<td>'+d.n_problem+'</td>'+
            '<td>'+d.n_html+'</td>'+
            '<td>'+d.n_video+'</td>'+
            '<td>'+d.module_id+'</td>'+
        '</tr>'+
    '</table>';
    var seqs = '<br/><table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<th>index</th>'+
            '<th>sequential name</th>'+
            '<th># user views</th>'+
            '<th>sequential module_id</th>'+
        '</tr>';
    var obj = jQuery.parseJSON(d.sequentials);
    obj.forEach(function(ent){
          seqs = seqs +         '<tr>'+
	            '<td>'+ent.index+'</td>'+
	            '<td>'+ent.name+'</td>'+
	            '<td>'+ent.nuser_views+'</td>'+
	            '<td>'+ent.module_id+'</td>'+
	        '</tr>';
    });
    seqs = seqs + '</table>';
    return stats + seqs;
}

    tablefields = {% autoescape off %}{{ fields }}{% endautoescape %};

    $(document).ready( function () {
	var table = $('#table_id').DataTable({
              "ajax": "/get/{{course_id}}/course_stats",
              "order": [[ 1, "asc" ]],
    	      "columns": tablefields,
             });

	// event listener for ajax call completion - fill in the stats table
	$('#table_id') .on('xhr.dt', 
			   function ( e, settings, json ) { 
			       $('#stats_div').html(json['stats_table']);
			       var stats_table = $('#stats_table').DataTable( {
				   "paging":   false,
				   "ordering": false,
				   "info":     false,
				   "searching":     false,
				   "columns" : json['stats_columns'],
			       });
			   });
			       

    // Add event listener for opening and closing details
    $('#table_id tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );

} );

</script>

</head>
<body>
  <h1>{{orgname}}: {{course_id}}</h1>

<span style="float:right; color:blue">{{user}}<br/>
{% autoescape off %}{{ image }}{% endautoescape %} </span>


[ <a href="/">Back to course list</a> ]

<!-- ----------------------------------------------------------------------------- -->
<h2>Usage statistics</h2>

{% if mode=="mooc" %}
<table id="usage_stats" class="display" width="80%"></table>
{% else %}
<table id="usage_stats" class="display" width="50%"></table>
{% endif %}

<script type="text/javascript">

$(document).ready(function() {

    var the_columns = [
            { "data": "registered_sum", "title": "# registered", "class": "dt-center" },
            { "data": "viewed_sum", "title": "# viewed", "class": "dt-center"  },
            { "data": "explored_sum", "title": "# explored", "class": "dt-center"  },
        ];

    {% if mode=="mooc" %}
        the_columns = the_columns.concat([
           { "data": "certified_sum", "title": "# certified", "class": "dt-center" },
           { "data": "n_verified_id", "title": "# verified ID", "class": "dt-center" },
           { "data": "verified_certified", "title": "# certified & verified", "class": "dt-center" },
           { "data": "n_male", "title": "# male", "class": "dt-center" },
           { "data": "n_female", "title": "# female", "class": "dt-center" },
        ]);
   {% endif %}

   $('#usage_stats').dataTable( {
        "ajax": "/get/{{course_id}}/usage_stats",
            "columns": the_columns,
            "paging":   false,
            "ordering": false,
            "info":     false,
            "searching":     false,
    } );
} );
</script>

<table style="float:right"><tr><td>
<ul>
<li><a href="/table/{{course_id}}/person_course">Person-course table</a></li>
<li><a href="/table/{{course_id}}/stats_module_usage">Module usage statistics</a></li>
<li><a href="/table/{{course_id}}/user_info_combo">User information</a></li>
<li><a href="/axis/{{course_id}}">Course axis</a></li>
</ul>
</td></tr></table>
{% if is_staff %}
{% endif %}

<!-- ----------------------------------------------------------------------------- -->
<h2>Content statistics</h2>

<div id="stats_div">{% autoescape off %}{{ stats_table }}{% endautoescape %}</div>

<h2>Content by chapter</h2>

{% autoescape off %}{{ table }}{% endautoescape %}

<!-- ----------------------------------------------------------------------------- -->
<h2>Avtivity</h2>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

<script type="text/javascript">

$(document).ready(function() {

    $.getJSON('/get/{{course_id}}/activity_stats', function(data) {

// console.log('data = ', data)

        // Create the chart
        $('#container').highcharts('StockChart', {

            rangeSelector : {
                selected : 2
            },
	    credits: {  enabled: false  },
            title : {
                text : 'Activity by day',
            },

            series : data['series'],
        }, function(chartObj) {
	    // sets initial range zoom location
            chartObj.xAxis[0].setExtremes(
		data['start_dt'],
		data['end_dt']
            );
	});
    });
});
		</script>


<!-- ----------------------------------------------------------------------------- -->
<h2>Enrollment</h2>
{% if is_staff %}
<div id="recompute_enroll" style="display:oo">
  <span style="float:right">
    <form method="post">
      <input type="submit" name="action" value="force recompute enrollment"/>
    </form>
  </span>
</div>
{% endif %}
<p>(according to tracking logs)</p>

<div id="enrollment_div" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

<script type="text/javascript">

$(document).ready(function() {

    $.getJSON('/get/{{course_id}}/enrollment_stats', function(data) {

// console.log('data = ', data)

        // Create the chart
        $('#enrollment_div').highcharts('StockChart', {

            rangeSelector : {
                selected : 4
            },
	    credits: {  enabled: false  },

            title : {
                text : 'Enrollment by day',
            },

            series : data['series'],
        });

    });
});
		</script>

<!-- ----------------------------------------------------------------------------- -->
<h2>Geographic distribution</h2>

<div id="geomap" style="height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>


<div><p>Top countries by registration:</p><table id="geo_top"></table></div>

<script type="text/javascript">

$(document).ready(function() {

    $.getJSON('/get/{{course_id}}/geo_stats', function (data) {
    //$.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=world-population.json&callback=?', function (data) {

        var mapData = Highcharts.geojson(Highcharts.maps['custom/world']);

        // Correct UK to GB in data
        $.each(data, function () {
            if (this.code === 'UK') {
                this.code = 'GB';
            }
        });

	// console.log(data['top_by_reg']);

	var table = $('#geo_top').DataTable({
            dom: 'T<"clear">lfrtip',
	    "paging":   true,
	    "ordering": true,
	    "info":     true,
	    "searching":    false,
            "order": [ 1, 'desc' ],
	    "data": data['table'],
	    "columns" : [ {'data': 'countryLabel', 'title': "Country Name", "class": "dt-center" },
			  {'data': 'nregistered', 'title': "# registered", "class": "dt-center" },
			  {'data': 'nexplored', 'title': "# explored", "class": "dt-center" },
			  {'data': 'nviewed', 'title': "# viewed", "class": "dt-center" },
			  {'data': 'ncertified', 'title': "# certified", "class": "dt-center" },
			  {'data': 'cert_pct', 'title': "% certified (of registered)", "class": "dt-center" },
			  {'data': 'cert_pct_of_viewed', 'title': "% certified (of viewed)", "class": "dt-center" },
			  {'data': 'avg_hours', 'title': "avg hours spent on course (registrants)", "class": "dt-center" },
			  {'data': 'avg_hours_certified', 'title': "avg hours spent on course (certified)", "class": "dt-center" },
			  {'data': 'n_verified_id', 'title': "# verified id", "class": "dt-center" },
			  {'data': 'n_verified_certified', 'title': "# verified id certified", "class": "dt-center" },
			  {'data': 'verified_cert_pct', 'title': "% certified (of verified)", "class": "dt-center" },
			  ],
        });

	// console.log(data['series'])

        $('#geomap').highcharts('Map', {
            chart : {
                borderWidth : 1
            },

            title: {
                text: 'Enrollment and certification by country'
            },
	    credits: {  enabled: false  },

            subtitle : {
                text : 'Bubble size is proportional to registration'
            },

            legend: {
                enabled: false
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            series : [{
                name: 'Countries',
                mapData: mapData,
                color: '#E0E0E0',
                enableMouseTracking: false
            }, {
                type: 'mapbubble',
                mapData: mapData,
                name: 'Registration and Certification',
                joinBy: ['iso-a2', 'cc'],
                data: data['series'],
                minSize: 4,
                maxSize: '12%',
                tooltip: {
                    pointFormat: '{point.cc}:  {point.name}<br/>{point.z} registered<br/>{point.ncertified} certified<br/>{point.cert_pct} certification %'
                }
            }]
        });

    });
});
</script>

</body>
</html>
