<html>
<head>
  <title>{{orgname}} Analytics Dashboard</title>

<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/docs.min.js"></script>
<link href="/css/theme.css" rel="stylesheet">

<script type='text/javascript' src='https://www.google.com/jsapi'></script>

<script type='text/javascript'>

$(document).ready( function () {
    $('#table_id').DataTable({
    });

    $('#collections_table').DataTable({
    });

});
</script>

</head>
  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{orgname}} Analytics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Admin</a></li>
            <li ><a href="#" id="accesslog">Access Log</a></li>

	    {% if is_pm %}
            <li ><a href="/dashboard">All-Course dashboard</a></li>
	    {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">{{user}}</p></li>
	    {% if is_staff %}
            <li><a href="/admin">Admin Page</a></li>
	    {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div  class="container theme-showcase" role="main" data-spy="scroll" data-target="#navbar">
<h1>Analytics Dashbboard Admin Page</h1>

{% if msg %}
<font color="red"><p>{% autoescape off %}{{ msg }}{% endautoescape %}</p></font>
{% endif %}

<h2>Staff</h2>

<span style="float:right; color:blue">{{user}}</span>

<form method="post">
{% autoescape off %}{{ table }}{% endautoescape %}
</form>

<h2>Add and Delete Staff</h2>

<form method="post">
    <p>Add new staff member</p>
    <table>
      <tr><td>Username: </td><td><input type="text" size='40' name='username' /></td></tr>
      <tr><td>Role(s): </td><td><input type="text" size='40' name='role' /></td></tr>
      <tr><td>course_id: </td><td><input type="text" size='40' name'course_id' /></td></tr>
      <tr><td>Notes: </td><td><input type="text" size='80' name='notes' /></td></tr>
    </table>
    <p>Roles may be "pm", or "instructor".  Leave course_id empty for global
       access across all courses.</p>
    <input type="submit" name="action" value="Add staff"/>
</form>

<p>Data backend: <font color='blue'>{{staff_source}}</font></p>

<form method="post">
    <input type="submit" name="action" value="Reload staff table"/>
    <input type="submit" name="action" value="Refresh page"/>
</form>

<h2>Check Authorization</h2>

<form method="post">
  <p>Username: <input type="text" size='40' name='username' /></p>
  <p>course_id or tag: <input type="text" size='40' name='course_id' /></p>
    <input type="submit" name="action" value="Check access"/>
</form>


<hr width="100%"/>
<h2>Course Listings</h2>

<p>Default collection: <font color='blue'>{{collection_name}}</font></p>
<p>Default data source: <font color='blue'>{{listings_source}}</font></p>

<form method="post">
    <input type="submit" name="action" value="Reload course listings"/>
</form>

<form method="post">
    <input type="submit" name="action" value="List current course tags"/>
</form>

<hr width="100%"/>
<h2>Reports</h2>

<p>Report source: <font color='blue'>{{custom_reports_standard_source}}</font></p>
<p>Go to the <a href="/custom">Custom reports dashboard</a></p>

<form method="post">
    <input type="submit" name="action" value="Reload Standard Reports"/>  -- Warning: overloads any existing reports of the same name!
</form>

<hr width="100%"/>
<h2>Collections</h2>

<p>Available collections:</p>

<table id="collections_table" class="display" width="100%">
<tr>
  <th>Name</th>
  <th>Listings Table Source</th>
  <th>End Date</th>
  <th>Custom Reports Source</th>
</tr>
{% for name, cdata in collections.items() %}
    <tr>
      <td>{{name}}</td>
      <td>{{cdata.COURSE_LISTINGS_TABLE}}
	{% if cdata.COURSE_LISTINGS_TABLE %}
	<form method="post">
	  <input type="hidden" name="collection" value="{{name}}"/>
	  <input type="submit" name="action" value="Reload Course Listings"/>
	</form>
	{% endif %}
      </td>
      <td>{{cdata.END_DATE}}</td>
      <td>{{cdata.CUSTOM_REPORTS}}
	{% if cdata.CUSTOM_REPORTS %}
	<form method="post">
	  <input type="hidden" name="collection" value="{{name}}"/>
	  <input type="submit" name="action" value="Reload Custom Reports"/>
	  <input type="submit" name="action" value="Export Custom Reports"/>
	</form>
	{% endif %}
      </td>
    </tr>
{% endfor %}
</table>

<hr width="100%"/>
<h2>Low-Level Maintenence</h2>

<form method="post">
  Dangerous -- degrads performance: <input type="submit" name="action" value="Flush cache"/>
</form>

[ <a href="/">Go to courses page</a> ]

<div class="modal fade" id="LogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Access Log</h4>
      </div>
      <div class="modal-body" id="AccessLogContent">
           <table id="AccessLogTable"></table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#accesslog').click(function(){
    $('#LogModal').modal('toggle');
});
var getLogData = function(){
    $.getJSON('/get/LogEntries', function(data) {

	if (typeof(accesslogtable)=="undefined"){
	    accesslogtable = $('#AccessLogTable').DataTable({
		"paging":   true,
		"ordering": true,
		"info":     true,
		"searching":    true,
		"order": [[ 0, "desc" ]],
		"data": data['loglines'],
		"columns" : [ {'data': 'created', 'title': "timestamp", "class": "dt-center" },
			      {'data': 'username', 'title': "username" },
			      {'data': 'course_id', 'title': "Course ID" },
			      {'data': 'url', 'title': "URL" },
			      {'data': 'ipaddr', 'title': "IP Address", "class": "dt-center" },
			    ],
            });
	}else{
	    accesslogtable.clear();
	    accesslogtable.rows.add(data['loglines']);
	    accesslogtable.draw();
	}
    });
}

var refreshLog = function(){
    if ($('#LogModal').hasClass('in')){
	console.log("Refresh Log");
	getLogData();
	setTimeout(refreshLog, 10000);
    }
}

$('#LogModal').on('show.bs.modal', function (event) {
    var modal = $(this);
    getLogData();
    setTimeout(refreshLog, 60000);
});
</script>

</body>
</html>
