<html>
<head>
  <title>Chapter {{chapter_name}} of {{course_id}}</title>

  {% include 'all_head.html' %}

  <script type='text/javascript'>

    tablefields = {% autoescape off %}{{ fields }}{% endautoescape %};

$(document).ready( function () {
	var table = $('#table_id').DataTable({
              dom: 'T<"clear">lfrtip',
    	      "ajax": "/get/{{course_id}}/{{url_name}}/chapter_stats",
              "order": [[ 0, "asc" ]],
    	      "columns": tablefields,
             });

} );

</script>

</head>

  <body role="document">

  {% include 'navbar_chapter.html' %}

<div  class="container theme-showcase" role="main" data-spy="scroll" data-target="#navbar">
  <h1>Chapter: {{chapter_name}} of {{course_id}}</h1>

{% if error.msg %}
<font color="red"><p>{{error.msg}}</p></font>
{% endif %}

<h4>[ <a href="/chapter/{{course_id}}/{{url_name}}/prev">Previous Chapter</a> | <a href="/chapter/{{course_id}}/{{url_name}}/next">Next Chapter</a> ]

<h2>Content</h2>

{% autoescape off %}{{ table }}{% endautoescape %}

</body>
</html>
