<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{orgname}} Analytics Dashboard: Custom Reports</title>

  {% include 'all_head.html' %}

</head>


  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{orgname}} Analytics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Custom Reports</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">{{user}}</p></li>
	    {% if is_staff %}
            <li><a href="/admin">Admin Page</a></li>
	    {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div  class="container theme-showcase" role="main" data-target="#navbar">
    <h1>Custom Reports</h1>

<font color="red"><p id="msg">{% autoescape off %}{{ msg }}{% endautoescape %}</p></font>
{% if msg %}
{% endif %}

{% for report in reports %}

    <hr width="100%"/>
    <h2>{{report.title}}</h2>
    <span  style="float:right">
        <button data-state="init" class="cr-view-button" data-name="{{report.name}}">View</button>
        <button class="cr-export-button" data-name="{{report.name}}">Export</button>
        <button class="cr-edit-button" data-name="{{report.name}}">Edit</button>
	<form action="/custom/edit_report/{{report.name}}" method="POST">
            <input type="submit" name="action" value="Download Report"/>
        </form>
    </span>
    <p>{{report.description}}</p>
    <div id="div-{{report.name}}"></div>
    <p></p><br style="clear:both;"/>

{% endfor %}

<hr width="100%"/>
<hr width="100%"/>

<h2>New Custom Report</h2>

<p>Fill in this form to get started creating a new custom report:</p>

<form method="POST" action="/custom">
    <p>Title: <input type="text" size="120" name="title" value=""/></p>
    <p>Report ID name (no spaces, only letters, numbers, dash, underscore): <input type="text" size="120" name="name" value=""/></p>
    <input type="submit" name="action" value="Create new Custom Report"/> 
</form>

<br/>
<p>Or upload a custom report YAML file:</p>

<form action="/custom" method="POST" enctype="multipart/form-data">
  <p>Report YAML file: <input type="file" name="file"/></p>
  <input type="submit" name="action" value="Upload Custom Report(s)"/> 
</form>

<!-- ============================================================================= -->

<script type="text/javascript">

var setup_click = function () {

    $('.cr-view-button').each(function(){
	
	var name = $(this).data().name;
	console.log('name ' + name);
	var button = $(this);
	var the_div = $("#div-" + name);

	$(this).click(function(){
	    var state = button.data().state;
	    if (state=='init'){
		console.log("loading " + name);
		$.getJSON('/custom/get_report_html/' + name, 
			  function(data){
			      the_div.html(data['html']);
			      button.data('state', 'visible');
			      button.html('Hide');
			  }
			 );
		}else{
		    if (state=='visible'){
			the_div.hide();
			button.data('state', 'hidden');
			button.html('View');
		    }else{
			if (state=="hidden"){
			    the_div.show();
			    button.data('state', 'visible');
			    button.html('Hide');
			}
		    }
		}
	});
	
    });

    $('.cr-edit-button').each(function(){
	var name = $(this).data().name;
	console.log('name ' + name);
	$(this).click(function(){
	    console.log("editing " + name);
	    window.location.href = '/custom/edit_report/' + name;
	});
    });

    $('.cr-export-button').each(function(){
	var name = $(this).data().name;
	$(this).click(function(){
	    console.log("exporting " + name);
	    $('#msg').html('<img src="/images/loading_icon.gif"/>');
	    $.getJSON('/custom/export_report/' + name, 
			  function(data){
			      $('#msg').html(data.msg);
			      }
		     ).fail(function(error){
			 $('#msg').html("Export failed! status=" + error.statusText);
			 console.log('export failed!');
			 console.log(error);
		     });
	});
    });
};

$(document).ready( setup_click );

</script>

</div> <!-- main -->
</body>
</html>
