{% if report.meta_info.require_file and not always_show %}
  <span id="cr_container_{{id}}" style="display:none">
{% endif %}
{% if not do_embed %}
    <h2>{{title}}<sub style="font-size: 14px;"><a href="/glossary/{{report.name}}" onClick="return popup(this, 'Glossary: {{title}}')">Glossary</A></sub></h2>
{% endif %}
        <span  style="float:right">
            <button id="view-{{id}}" data-state="init" class="cr-view-button" data-name="{{report.name}}" data-id="{{id}}" 
		      {% if do_embed %}
		        style="display:none"
		      {% endif %}
		    >View</button>
            <button id="reload-{{id}}" style="display:none" data-state="init" class="cr-reload-button" data-name="{{report.name}}"  data-id="{{id}}">Reload</button>
    	{% if is_staff %}
            <button id="edit-{{id}}" class="cr-edit-button" data-name="{{report.name}}"  data-id="{{id}}">Edit</button>
	    {% if not do_embed %}
               {% if report_is_staff %}
                         <!-- <button class="cr-export-button" data-name="{{report.name}}">Export</button> -->
                         <form action="/custom/edit_report/{{report.name}}" method="POST">
                             <input type="submit" name="action" value="Download Report"/>
                         </form>
               {% endif %}
	    {% endif %}
    	{% endif %}
        </span>
	{% if not do_embed %}
            <p>{% autoescape off %}{{report.description}}{% endautoescape %}</p>
	{% endif %}
        <div id="div-{{id}}"></div>
        <p></p><br style="clear:both;"/>
{% if report.meta_info.require_file and not always_show %}
  </span>
{% endif %}
    
<script type="text/javascript">
var setup_cr_click = function (report_id, report_name, report_params, meta_info, immediate_view) {

    // console.log("report ", report_name, ", meta=", meta_info);

    if (meta_info.embedded){  immediate_view = true; }

    var handle_require_file = function(fn_list){
	// console.log("fn_list = ", fn_list);
	if (fn_list && (fn_list.length > 0)){
	    $('#cr_container_{{id}}').show();
	}
    }

    if (meta_info.require_file && (!meta_info.always_show)){
	// console.log("require_file = ", meta_info.require_file);
	$.getJSON('/file/list/course/' + report_params.course_id, {filter: meta_info.require_file}, handle_require_file);
    }

    $('#view-' + report_id).each(function(){
	
	var name = $(this).data().name;
	var id = $(this).data().id;
	var button = $(this);
	var the_div = $("#div-" + id);

	var load_report = function(){
	    console.log("loading " + name);
	    $.getJSON('/custom/get_report_html/' + name, 
                      report_params,
		      function(data){
			  the_div.html(data['html']);
                          if (!meta_info.embedded){
  			      button.data('state', 'visible');
			      button.html('Hide');
                              $('#reload-' + id).show();
                          }
		      }
		     );
	}

	var do_view = function(){
	    var state = button.data().state;

	    // console.log("rn=" + report_name + ", meta_info = ", meta_info);
	    if (meta_info.is_page){
		console.log("is page!");
		window.location.href = "/page/" + report_name + "?" + $.param(report_params);
	    }

	    if (state=='init'){
		load_report();
    	    }else{
		if (state=='visible'){
		    the_div.hide();
		    button.data('state', 'hidden');
		    button.html('View');
		}else{
		    if (state=="hidden"){
			the_div.show();
			button.data('state', 'visible');
			button.html('Hide');
		    }
		}
	    }
	};
	
	$(this).click(do_view);

        $('#reload-' + report_id).click(function(){
	    load_report();
	});
	
    });

{% if is_staff %}
    $('#edit-' + report_id).each(function(){
	
	var name = $(this).data().name;
	// console.log('name ' + name);

	$(this).click(function(){
	    console.log("editing " + name);
	    window.location.href = '/custom/edit_report/' + name;
	});
	
    });
{% endif %}

    if (immediate_view){
	$('#view-' + report_id).click();
    }

};


$(document).ready(function(){ setup_cr_click("{{id}}",
                                             "{{report.name}}",
 					     {% autoescape off %}{{ report_params }}{% endautoescape %},
 					     {% autoescape off %}{{ report_meta_info }}{% endautoescape %},
					     {{immediate_view}}
					    ); });
</script>
