<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{orgname}} Analytics Dashboard</title>

  {% include 'all_head.html' %}

  <script type='text/javascript'>

  $(document).ready( function () {
    $('#table_id').DataTable({
         dom: 'T<"clear">lfrtip',
         "order": [ 0, 'desc' ],
  }
);

    $('#table_id tbody').on('click', 'tr', function () {
        var name = $('td', this).eq(4).text();
        window.location.href = "/course/" + name;
        // alert( 'You clicked on '+name+'\'s row' );
    } );

} );

</script>

</head>


  <body role="document">

  {% include 'navbar_standard.html' %}

<div  class="container theme-showcase" role="main" data-target="#navbar">
    <h1>Cross-Course Dashboard</h1>


{% if is_staff %}
    {% include "collections_selector.html" %}
{% endif %}

{% if mode=="mooc" %}
    <h2 id="geography">Geographic Distribution</h2>

    <a id="btn-geo-show" class="btn btn-lg btn-primary" href="#" role="button">Show Map »</a>

    <div id="geography_map" style="display:none">
      <div id="geomap" style="height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

      <div><p>Totals:</p><table id="geo_totals"></table></div>
      <br/>
      <p></p>

      <div><p>Top countries by registration:</p><table id="geo_top"></table></div>

      <br/>
      <div id="geopie" style="min-width: 310px; max-width: 800px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

      <br/>
      <div id="geopie-viewed" style="min-width: 310px; max-width: 800px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

      <br/>
      <div id="geopie-cert" style="min-width: 310px; max-width: 800px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

      <br/>
      <div id="geopie-idV" style="min-width: 310px; max-width: 800px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

      <script src="/js/dashboard-geo.js"></script>
    </div>
{% endif %}

<h2 id="listings">Course Listings: Total {{ncourses}}</h2>

{% if mode=="mooc" %}
<h3>Number of courses offered versus time:</h3>
(click and drag to zoom)

<div id="cbytime" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

<script type="text/javascript">

$(document).ready(function() {

    $.getJSON('/dashboard/get/courses_by_time', function(data) {

        // Create the chart
//        $('#cbytime').highcharts('StockChart', {
        $('#cbytime').highcharts({

	    chart: { type: 'spline',  zoomType: 'x' },
            rangeSelector : {
                selected : 5
            },
	    credits: {  enabled: false  },
            title : {
                text : 'Number of courses over time (by registration opening date)',
            },

	    xAxis: {
		type: 'datetime',
		dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
		},
		title: {
                    text: 'Date'
		}
            },

            series : data['series'],
        }, function(chartObj) {
	});
    });

    $('[data-spy="scroll"]').each(function () {
	var $spy = $(this).scrollspy('refresh')
    });
});
</script>
{% endif %}


<h3>Courses which have opened for registration on {{orgname}}:</h3>

{% autoescape off %}{{ table }}{% endautoescape %}


<h2 id="enrollment">Enrollment</h2>

<h3>Enrollment by day: <span id="enrollavg"></span></h3>
(data from student_enrollment table)

<div id="enrollbytime" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

{% if mode=="mooc" %}
<h3>ID Verified  by day: <span id="veravg"></span></h3>
<div id="verifiedbytime" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>
{% endif %}

<script type="text/javascript">

$(document).ready(function() {

    $.getJSON('/dashboard/get/enrollment_by_time', function(data) {

	$('#enrollavg').html('Average of ' + data['enroll_rate_avg'] + ' new reigstrations per day');

        // Create the chart
//        $('#cbytime').highcharts('StockChart', {
        $('#enrollbytime').highcharts({

	    chart: { type: 'spline',  zoomType: 'x' },
            rangeSelector : {
                selected : 5
            },
	    credits: {  enabled: false  },
	    yAxis: {min: 0},
            title : {
                text : 'Enrollment by day',
            },

	    xAxis: {
		type: 'datetime',
		dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
		},
		title: {
                    text: 'Date'
		}
            },

            series : data['series'],
        }, function(chartObj) {
	});

{% if mode=="mooc" %}

	$('#veravg').html('Average of ' + data['verified_rate_avg'] + ' new verified ID registrations per day');

        // Create the chart
        $('#verifiedbytime').highcharts({
	    chart: { type: 'spline',  zoomType: 'x' },
            rangeSelector : { selected : 5 },
	    credits: {  enabled: false  },
	    yAxis: {min: 0},
            title : { text : 'ID Verified Program Registration by day', },

	    xAxis: {
		type: 'datetime',
		dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
		},
		title: {
                    text: 'Date'
		}
            },
            series : data['series_ver'],
        }, function(chartObj) {
	});
{% endif %}

	$('[data-spy="scroll"]').each(function () {
	    var $spy = $(this).scrollspy('refresh')
	});
    });

});
</script>

<!-- <h2 id="enrollment">Cross-course comparison statistics</h2> -->

{% autoescape off %}{{ custom_report["cross-course-enrollment-comparison"] }}{% endautoescape %}

{% autoescape off %}{{ custom_report["cross-course-forum-usage-comparison"] }}{% endautoescape %}

<!-- <div id="cross-course" style="min-width: 310px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div> -->

<!-- <script type="text/javascript" src="/js/dashboard-cc.js"></script> -->

<br style="clear:both;"/>

<!-- ----------------------------------------------------------------------------- -->
<!-- additional custom reports, which may or may not exist -->

    {% autoescape off %}
        {{custom_report['extra-cross-course-reports']}}
    {% endautoescape %}

</div> <!-- main -->
</body>
</html>
