<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{orgname}} Analytics Dashboard: Edit Custom Report</title>

  {% include 'all_head.html' %}

<!-- codemirror -->

<link rel="stylesheet" type="text/css" href="/css/codemirror.css">
<script type="text/javascript" src="/js/codemirror-compressed.js"></script>

</head>


  <body role="document">

  {% include 'navbar_custom_report.html' %}

<div  class="container theme-showcase" role="main" data-target="#navbar">
    <h1>Edit Custom Report</h1>

    <hr width="100%"/>
    <h2>{{report.title}}</h2>

    <span  style="float:right">
        <form method="POST">
            <input type="hidden" name="name" value="{{report.name}}"/>
            <input type="submit" name="action" value="Download Report"/>
	    &nbsp;
	    &nbsp;
	    &nbsp;
	    &nbsp;
            <input type="submit" name="action" value="Delete Report"/>
        </form>
    </span>

{% if msg %}
<font color="red"><p>{{msg}}</p></font>
{% endif %}

<form method="POST">

<ul>
<li>HTML: <textarea name='html' data-mode="text/html" rows="10" cols="80">{{report.html}}</textarea></li>
<li>Javascript: <textarea name='javascript' data-mode="text/javascript" rows="20" cols="80">{{report.javascript}}</textarea></li>
{% set report_sql_str = report.sql or '' %}
<li>SQL: <textarea name='sql' data-mode="text/x-sql" rows="10" cols="80">{{report_sql_str}}</textarea></li>
<li>Description: <textarea name='description' data-mode="text/html" rows="10" cols="80">{{report.description}}</textarea></li>
</ul>

<p>Report name (no spaces): <input type="text" size="120" name="name" value="{{report.name}}"/></p>
<p>Table Name: <input type="text" size="80" name="table_name" value="{{report.table_name}}"/></p>
<p>Title: <input type="text" size="120" name="title" value="{{report.title}}"/></p>
<p>Depends on: <input type="text" size="120" name="depends_on" value="{{report.depends_on}}"/></p>
<p>Collection (e.g. year2): <input type="text" size="120" name="collection" value="{{report.collection}}"/></p>
{% set rgt = ', '.join(report.group_tags) %}
<p>Group tags (comma separated): <input type="text" size="120" name="group_tags" value="{{rgt}}"/></p>
<p>Meta Info (dict): <input type="text" size="120" name="meta_info" value="{{report.meta_info}}"/></p>

<input type="submit" name="action" value="Save Changes"/>
</form>


<hr width="100%"/>
<h2>View Page</h2>

<p>Parameters (json): <input type="text" size="120" id="parameter_values" name="parameter_values" value="{{parameter_values}}"/></p>

<button class="cr-view-button" data-name="{{report.name}}">View</button>

<hr width="100%"/>
<div id="div-{{report.name}}"></div>

<script type="text/javascript">
$(document).ready( function () {

    $('textarea').each(function(){
	var data = $(this).data();
	console.log('mode = ' + data.mode);
	// $(this).resizable();
	$(this).css({"border-color": "#C1E0FF", 
		     "border-width":"1px", 
		     "border-style":"solid"});
	if (1){
	    var myCodeMirror = CodeMirror.fromTextArea(this, {'mode': data.mode,
							      'lineNumbers': true,
							      matchBrackets: true,
							     });
	    }
    });

    $('.CodeMirror').resizable({
	resize: function() {
	    editor.setSize($(this).width(), $(this).height());
	}
    });

    $('.cr-view-button').each(function(){
	
	var name = $(this).data().name;
	console.log('name ' + name);

        meta_info = {% autoescape off %}{{ meta_info }}{% endautoescape %};

	$(this).click(function(){
	    console.log("viewing " + name);

            if (meta_info.is_page){
                parameter_values = $.parseJSON($('#parameter_values').val());
		window.location.href = "/page/" + name + "?" + $.param(parameter_values);
            }

	    var pos = $("#div-" + name).offset();
	    var top = pos.top + 20;
	    var left = 0;
	    window.scrollTo((left < 0 ? 0 : left), (top < 0 ? 0 : top));
	    parameter_values = $.parseJSON($('#parameter_values').val());
            console.log('parameter_values = ', parameter_values);
            parameter_values.save_parameters = true;
 	    $.getJSON('/custom/get_report_html/' + name, 
                      parameter_values,
		      function(data){
			  $("#div-" + name).html(data['html']);
			  $("#div-" + name)[0].scrollIntoView();
		      }
		     );
	});
	
    });

});
</script>

</div> <!-- main -->
</body>
</html>
