<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{orgname}} Analytics Dashboard: Edit Custom Report</title>

  {% include 'all_head.html' %}

<!-- codemirror -->

<link rel="stylesheet" type="text/css" href="/css/codemirror.css">
<script type="text/javascript" src="/js/codemirror-compressed.js"></script>
<script type="text/javascript" src="/js/jshint.js"></script>
<style type="text/css">
      .lint-error {font-family: arial; font-size: 70%; background: #ffa; color: #a00; padding: 2px 5px 3px; }
      .lint-error-icon {color: white; background-color: red; font-weight: bold; border-radius: 50%; padding: 0 3px; margin-right: 7px;}
</style>

</head>


  <body role="document">

  {% include 'navbar_custom_report.html' %}

<div  class="container theme-showcase" role="main" data-target="#navbar">
    <h1>Edit Custom Report</h1>

    <hr width="100%"/>
    <h2>{{report.title}}</h2>

    <span  style="float:right">
        <form method="POST">
            <input type="hidden" name="name" value="{{report.name}}"/>
            <input type="submit" name="action" value="Download Report"/>
	    &nbsp;
	    &nbsp;
	    &nbsp;
	    &nbsp;
            <input type="submit" name="action" value="Delete Report"/>
        </form>
    </span>

{% if msg %}
<font color="red"><p>{{msg}}</p></font>
{% endif %}

<form method="POST" id="cr_form">

<input type="hidden" id="editor_heights" name="editor_heights" value=""/>

<ul>
<li>HTML: <textarea name='html' data-name="html" data-mode="text/html" rows="10" cols="80">{{report.html}}</textarea></li>
<li>Javascript: <textarea id="edit_js" data-name="js" name='javascript' data-mode="text/javascript" rows="20" cols="80">{{report.javascript}}</textarea></li>
{% set report_sql_str = report.sql or '' %}
<li>SQL: <textarea name='sql' data-name="sql" data-mode="text/x-sql" rows="10" cols="80">{{report_sql_str}}</textarea></li>
<li>Description: <textarea name='description' data-name="description" data-mode="text/html" rows="10" cols="80">{{report.description}}</textarea></li>
</ul>

<p>Report name (no spaces): <input type="text" size="120" name="name" value="{{report.name}}"/></p>
<p>Table Name: <input type="text" size="80" name="table_name" value="{{report.table_name}}"/></p>
<p>Title: <input type="text" size="120" name="title" value="{{report.title}}"/></p>
<p>Depends on: <input type="text" size="120" name="depends_on" value="{{report.depends_on}}"/></p>
<p>Collection (e.g. year2): <input type="text" size="120" name="collection" value="{{report.collection}}"/></p>
{% set rgt = ', '.join(report.group_tags) %}
<p>Group tags (comma separated -- use "course" to indicate course-specific report &amp; access control): <input type="text" size="120" name="group_tags" value="{{rgt}}"/></p>
<p>Meta Info (dict): <input type="text" size="120" name="meta_info" value="{{report.meta_info}}"/></p>
<p>Useful meta info settings: <tt>{'debug_sql': 1}</tt></p>
<input id="save_changes" type="submit" name="action" value="Save Changes"/>
</form>

<h3>Custom report javascript libraries available:</h3>
<div id="jslibs">
  <ul>
  {% for jsfn in cr_js_library.FILES %}
      <li>{{jsfn}} <button id="jsfn_view_{{jsfn}}" data-state="hidden">View</button>
      </li>
      <div id="jsfn_div_{{jsfn}}" style="display:none">
          <textarea  id="jsfn_js_{{jsfn}}">{% autoescape off %}{{cr_js_library[jsfn]}}{% endautoescape %}</textarea>
      </div>
      <script type="text/javascript">
      (function(){
	var ta = $('#jsfn_js_{{jsfn}}')[0];
	var cm = CodeMirror.fromTextArea(ta, {'mode': 'text/javascript',
	                                      'lineNumbers': true,
				              matchBrackets: true,
				     });
	$('#jsfn_view_{{jsfn}}').click(function(){
	    var da = $('#jsfn_div_{{jsfn}}');
	    var data = $(this).data();
	    if (data.state=="hidden"){ da.show(); data.state = "visible"; $(this).html("Hide"); cm.refresh();
	    }else{ da.hide(); data.state = "hidden"; $(this).html("View");
            }
        });
      })();
      </script>
  {% endfor %}
  </ul>
</div>

<hr width="100%"/>
<h2>View Page</h2>

<p>Parameters (json): <input type="text" size="120" id="parameter_values" name="parameter_values" value="{{parameter_values}}"/></p>

<p>common parameter values: <tt>{"force_query": true}</tt> or <tt>{"course_id": XXX}</tt></p>

<button class="cr-view-button" data-name="{{report.name}}">View</button>

<hr width="100%"/>
<div id="div-{{report.name}}"></div>

<script type="text/javascript">
$(document).ready( function () {

    var cmset = {};

    // inline jshints with codemirror widgets
    var widgets = [];
    updateHints = function() {
	editor.operation(function(){
	    for (var i = 0; i < widgets.length; ++i)
		editor.removeLineWidget(widgets[i]);
	    widgets.length = 0;
	    
	    var options = {asi: true,	// more relaxed about semicolons
			   sub: true,   // more relaxed about y['x'] vs y.x
			   multistr: true,  // ok with multiline strings
			   eqnull: true,    // ok with ==null comparisons
			  }
	    JSHINT(editor.getValue(), options);
	    for (var i = 0; i < JSHINT.errors.length; ++i) {
		var err = JSHINT.errors[i];
		if (!err) continue;
		var msg = document.createElement("div");
		var icon = msg.appendChild(document.createElement("span"));
		icon.innerHTML = "!!";
		icon.className = "lint-error-icon";
		msg.appendChild(document.createTextNode(err.reason));
		msg.className = "lint-error";
		widgets.push(editor.addLineWidget(err.line - 1, msg, {coverGutter: false, noHScroll: true}));
	    }
	});
	var info = editor.getScrollInfo();
	var after = editor.charCoords({line: editor.getCursor().line + 1, ch: 0}, "local").top;
	if (info.top + info.clientHeight < after)
	    editor.scrollTo(null, after - info.clientHeight + 3);
    }
    
    
    $('textarea').each(function(ta){
	var data = $(this).data();
        if (!data.name){ return; }
	console.log('mode = ' + data.mode);
	// $(this).resizable();
	$(this).css({"border-color": "#C1E0FF", 
		     "border-width":"1px", 
		     "border-style":"solid"});
	if (1){
	    var myCodeMirror = CodeMirror.fromTextArea(this, {'mode': data.mode,
							      'lineNumbers': true,
							      matchBrackets: true,
							     });
            jQuery.data(this, 'cm', myCodeMirror);
	    cmset[data.name] = myCodeMirror;
	    }
    });

    // jshints
    window.editor = cmset['js'];
    var waiting;
    editor.on("change", function() {
	clearTimeout(waiting);
	waiting = setTimeout(updateHints, 500);
    });
    setTimeout(updateHints, 100);


    $('.CodeMirror').resizable({
	resize: function() {
	    editor.setSize($(this).width(), $(this).height());
	}
    });

    $('.cr-view-button').each(function(){
	
	var name = $(this).data().name;
	console.log('name ' + name);

        meta_info = {% autoescape off %}{{ meta_info }}{% endautoescape %};

	$(this).click(function(){
	    console.log("viewing " + name);

            if (meta_info.is_page){
                parameter_values = $.parseJSON($('#parameter_values').val());
		window.location.href = "/page/" + name + "?" + $.param(parameter_values);
            }

	    var pos = $("#div-" + name).offset();
	    var top = pos.top + 20;
	    var left = 0;
	    window.scrollTo((left < 0 ? 0 : left), (top < 0 ? 0 : top));
	    parameter_values = $.parseJSON($('#parameter_values').val());
            console.log('parameter_values = ', parameter_values);
            parameter_values.save_parameters = true;
 	    $.getJSON('/custom/get_report_html/' + name, 
                      parameter_values,
		      function(data){
			  $("#div-" + name).html(data['html']);
			  $("#div-" + name)[0].scrollIntoView();
		      }
		     );
	});
	
    });

    // if codemirror heights were provided, then set them now
    var heights = {% autoescape off %}{{editor_heights}}{% endautoescape %};
    console.log("heights = ", heights);
    if (heights && heights.length){
	heights.forEach(function(x){
	    cm = cmset[x.name];
	    if (cm){
		cm.setSize('100%', x.height);
		console.log("Resizing ", cm, 'to height ', x.height);
	    }
	});
    }

    // form submission: save codemirror box heights
    $('#cr_form').submit(function(){
	var heights = [];
	$('textarea').each(function(){
	    var data = $(this).data();
	    if (data.name && data.cm){
		heights.push({name: data.name, height: data.cm.getScrollInfo().clientHeight});
	    }
	});
	$('#editor_heights').val(JSON.stringify(heights));
	console.log('heights = ', heights);
	console.log("Submitting form!");
    });

});
</script>

</div> <!-- main -->
</body>
</html>
