<html>
<head>
  <title>Course: {{course_id}}</title>

  {% include 'all_head.html' %}

<!-- table display -->

  <script type='text/javascript'>

    $(document).ready( function () {
    });

// Formatting function for row details 
function format ( d ) {
    // `d` is the original data object for the row
    var stats = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<th># sequential</th>'+
            '<th># problem</th>'+
            '<th># html</th>'+
            '<th># video</th>'+
            '<th>module_id</th>'+
        '</tr>'+
        '<tr>'+
            '<td>'+d.n_sequential+'</td>'+
            '<td>'+d.n_problem+'</td>'+
            '<td>'+d.n_html+'</td>'+
            '<td>'+d.n_video+'</td>'+
            '<td>'+d.module_id+'</td>'+
        '</tr>'+
    '</table>';
    var seqs = '<br/><table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<th>index</th>'+
            '<th>sequential name</th>'+
            '<th># user views</th>'+
            '<th>sequential module_id</th>'+
        '</tr>';
    var obj = jQuery.parseJSON(d.sequentials);
    obj.forEach(function(ent){
          seqs = seqs +         '<tr>'+
	            '<td>'+ent.index+'</td>'+
	            '<td>'+ent.name+'</td>'+
	            '<td>'+ent.nuser_views+'</td>'+
	            '<td>'+ent.module_id+'</td>'+
	        '</tr>';
    });
    seqs = seqs + '</table>';
    return stats + seqs;
}

    tablefields = {% autoescape off %}{{ fields }}{% endautoescape %};

    $(document).ready( function () {
        $.fn.dataTable.ext.errMode = 'throw';

	var table = $('#table_id').DataTable({
              "ajax": "/get/{{course_id}}/course_stats",
              "order": [[ 1, "asc" ]],
    	      "columns": tablefields,
             });

	// event listener for ajax call completion - fill in the stats table
	$('#table_id') .on('xhr.dt', 
			   function ( e, settings, json ) { 
			       $('#caxis_date').html("Data from course axis of date " + json['data_date']);
			       $('#stats_div').html(json['stats_table']);
			       var stats_table = $('#stats_table').DataTable( {
				   "paging":   false,
				   "ordering": false,
				   "info":     false,
				   "searching":     false,
				   "columns" : json['stats_columns'],
			       });
			   });
			       

    // Add event listener for opening and closing details
    $('#table_id tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );

} );

</script>

</head>

  <body role="document">

  {% include 'navbar_standard.html' %}

<div  class="container theme-showcase" role="main" data-spy="scroll" data-target="#navbar">
  <h1>{{course_id}}</h1>

{% if is_staff %}
    {% include "collections_selector.html" %}
{% endif %}

<span style="float:right; color:blue">
{% autoescape off %}{{ image }}{% endautoescape %} </span>

<!-- ----------------------------------------------------------------------------- -->
<h2>Usage statistics</h2>

{% if mode=="mooc" %}
<table id="usage_stats" class="display" width="80%"></table>
{% else %}
<table id="usage_stats" class="display" width="50%"></table>
{% endif %}

<script type="text/javascript">

$(document).ready(function() {

    var the_columns = [
            { "data": "registered_sum", "title": "# registered", "class": "dt-center" },
            { "data": "viewed_sum", "title": "# viewed", "class": "dt-center"  },
            { "data": "explored_sum", "title": "# explored", "class": "dt-center"  },
        ];

    {% if mode=="mooc" %}
        the_columns = the_columns.concat([
           { "data": "n_unregistered", "title": "# UN-registered", "class": "dt-center" },
           { "data": "nregistered_active", "title": "Net # registered", "class": "dt-center" },
           { "data": "certified_sum", "title": "# certified", "class": "dt-center" },
           { "data": "n_verified_id", "title": "# verified ID", "class": "dt-center" },
           { "data": "verified_certified", "title": "# certified & verified", "class": "dt-center" },
           { "data": "n_male", "title": "# male", "class": "dt-center" },
           { "data": "n_female", "title": "# female", "class": "dt-center" },
        ]);
   {% endif %}

   $('#usage_stats').dataTable( {
        "ajax": "/get/{{course_id}}/usage_stats",
            "columns": the_columns,
            "paging":   false,
            "ordering": false,
            "info":     false,
            "searching":     false,
    } );
} );
</script>

{% if does_user_have_role('researcher', course_id) or  does_user_have_role('instructor', course_id)  %}
<table style="float:right"><tr><td>
<ul>
    <li><a href="/table/{{course_id}}/person_course">Person-course table</a></li>
    <li><a href="/table/{{course_id}}/stats_module_usage">Module usage statistics</a></li>
    <li><a href="/table/{{course_id}}/user_info_combo">User information</a></li>
<li><a href="/axis/{{course_id}}">Course axis</a></li>
</ul>
</td></tr></table>
{% endif %}

{% if is_staff %}
{% endif %}

<!-- ----------------------------------------------------------------------------- -->
<h2>Content statistics</h2>

<div id="stats_div">{% autoescape off %}{{ stats_table }}{% endautoescape %}</div>

<h2>Content by chapter</h2>

<p id="caxis_date"></p>
{% autoescape off %}{{ table }}{% endautoescape %}

{% autoescape off %}
    {{custom_report['video_watched_stats_generic']}}
{% endautoescape %}

<!-- ----------------------------------------------------------------------------- -->
<h2>Activity</h2>

<div id="activity_date"></div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

<script type="text/javascript">

$(document).ready(function() {

    $.getJSON('/get/{{course_id}}/activity_stats', function(data) {

// console.log('data = ', data)

        $('#activity_date').html('<h3>Data computed from logs through ' + data['data_date'] + '</h3>');

        if (!data['data_date']){
               $('#activity_date').html('<h3>No data - course launches ' + data['launch'] + '</h3>');
        }

        // Create the chart
        $('#container').highcharts('StockChart', {

            rangeSelector : {
                selected : 2
            },
	    credits: {  enabled: false  },
            yAxis: {min: 0},
            title : {
                text : 'Activity by day',
            },

            series : data['series'],
        }, function(chartObj) {
	    // sets initial range zoom location
            chartObj.xAxis[0].setExtremes(
		data['start_dt'],
		data['end_dt']
            );
	});
    });
});
		</script>


<!-- ----------------------------------------------------------------------------- -->
{% if mode=="mooc" %}

<!-- <h2>Enrollment</h2> -->

    {% autoescape off %}
        {{custom_report.immediate['enrollment-by-day-for-course-from-sql']}}
        {{custom_report['participant-enrollment-by-day']}}
    {% endautoescape %}

<!-- ----------------------------------------------------------------------------- -->

{% if is_pm %}
    {% autoescape off %}
        {{custom_report['IDV_enrollment_by_course']}}
    {% endautoescape %}
{% endif %}

<!-- ----------------------------------------------------------------------------- -->
<h2>Geographic distribution</h2>

<div id="geodat_info"></div>

<div id="geomap" style="height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto"><img src="/images/loading_icon.gif"/></div>

<div id="geopie-container" style="display:none">
    {% autoescape off %}
          {% autoescape off %}{{ custom_report['us_map_by_state_generic']}}{% endautoescape %}
          {% autoescape off %}{{ custom_report['us_map_by_county_generic']}}{% endautoescape %}
          {% autoescape off %}{{ custom_report["top-worldwide-countries"] }}{% endautoescape %}
          {% autoescape off %}{{ custom_report["geographic_region_pie_charts"] }}{% endautoescape %}
    {% endautoescape %}
</div>

<div><p>Top countries by registration:</p><table id="geo_top"></table></div>

<script type="text/javascript">

$(document).ready(function() {

    $.getJSON('/get/{{course_id}}/geo_stats', function (data) {
    //$.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=world-population.json&callback=?', function (data) {

        var mapData = Highcharts.geojson(Highcharts.maps['custom/world']);

        // Correct UK to GB in data
        $.each(data, function () {
            if (this.code === 'UK') {
                this.code = 'GB';
            }
        });

	// console.log(data['top_by_reg']);

        $('#geopie-container').show();

        $('#geodat_info').html('<h3>Data computed ' + data['data_date'] + '</h3>');

	var table = $('#geo_top').DataTable({
            dom: 'T<"clear">lfrtip',
	    "paging":   true,
	    "ordering": true,
	    "info":     true,
	    "searching":    false,
            "order": [ 1, 'desc' ],
	    "data": data['table'],
	    "columns" : [ {'data': 'countryLabel', 'title': "Country Name", "class": "dt-center" },
			  {'data': 'nregistered', 'title': "# registered", "class": "dt-center" },
			  {'data': 'nexplored', 'title': "# explored", "class": "dt-center" },
			  {'data': 'nviewed', 'title': "# viewed", "class": "dt-center" },
			  {'data': 'ncertified', 'title': "# certified", "class": "dt-center" },
			  {'data': 'cert_pct', 'title': "% certified (of registered)", "class": "dt-center" },
			  {'data': 'cert_pct_of_viewed', 'title': "% certified (of viewed)", "class": "dt-center" },
			  {'data': 'avg_hours', 'title': "avg hours spent on course (registrants)", "class": "dt-center" },
			  {'data': 'avg_hours_certified', 'title': "avg hours spent on course (certified)", "class": "dt-center" },
			  {'data': 'n_verified_id', 'title': "# verified id", "class": "dt-center" },
			  {'data': 'n_verified_certified', 'title': "# verified id certified", "class": "dt-center" },
			  {'data': 'verified_cert_pct', 'title': "% certified (of verified)", "class": "dt-center" },
			  ],
        });

	// console.log(data['series'])

        $('#geomap').highcharts('Map', {
            chart : {
                borderWidth : 1
            },

            title: {
                text: 'Enrollment and certification by country'
            },
	    credits: {  enabled: false  },

            subtitle : {
                text : 'Bubble size is proportional to registration'
            },

            legend: {
                enabled: false
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            series : [{
                name: 'Countries',
                mapData: mapData,
                color: '#E0E0E0',
                enableMouseTracking: false
            }, {
                type: 'mapbubble',
                mapData: mapData,
                name: 'Registration and Certification',
                joinBy: ['iso-a2', 'cc'],
                data: data['series'],
                minSize: 4,
                maxSize: '12%',
                tooltip: {
                    pointFormat: '{point.cc}:  {point.name}<br/>{point.z} registered<br/>{point.ncertified} certified<br/>{point.cert_pct} certification %'
                }
            }]
        });

    });
});
</script>

{% endif %}


<!-- ----------------------------------------------------------------------------- -->

    {% autoescape off %}
        {{custom_report['extra-course-specific-reports']}}
    {% endautoescape %}

</body>
</html>
